<!DOCTYPE html>
<html lang="{{ entry.lang if entry else conf.lang }}">
<head>
  <meta charset="utf-8">
  <title>{% block title %}{% endblock %}</title>

  {% if env.type == 'index' %}
    <link media="all" href="{{ env.path + '/style.css' }}" rel="stylesheet" />
  {% else %}
    <link media="all" href="{{ env.path + '/style_old.css' }}" rel="stylesheet" />
  {% endif %}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="/favicon.ico" rel="shortcut icon" />

  <meta name="author" content="Thomas Puppe">
  <link rel="author" href="https://plus.google.com/109992889758306031081/posts"/>
  {#
  {% if 'sitemap' in env.views -%}
    <link href="{{ env.views.sitemap.path }}" type="application/xml" rel="sitemap" title="Sitemap">
  {%- endif%}
  <link href="{{ env.path + '/atom/' }}" type="application/atom+xml" rel="alternate" title="Atom Feed" />
  <link href="{{ env.path + '/rss/' }}" type="application/rss+xml" rel="alternate" title="RSS Feed" />
  #}
</head>

  <body>
  
    <section class="sidebar">
      {#<figure id="user_logo">
        <a href="http://blog.thomaspuppe.de"><div class="header__logo">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="140px" height="120px" xml:space="preserve">
              <circle cx="70" cy="60" r="50" stroke="black" fill="white" stroke-width="3"></circle>
              <polygon points="87.334,95.568 69.667,84.717 52,95.568 52,24 87.334,24"></polygon>
            </svg>
        </div></a>
      </figure>
      #}
      <div class="user_meta">
      {% set sitename = '<span>Blog von</span> <span>Thomas Puppe,</span> <span>Web Developer.</span>'%}
        {% if env.type == 'index' %}
          <h1 class="header__headline">{{ sitename }}</h1>
        {% else %}
          <a class="header__headline" href="{{ env.path + '/' }}">{{ sitename }}</a>
        {% endif %}

        {#
        <ul>
          <li><a href="http://twitter.com/thomaspuppe">@thomaspuppe</a></li>
          <li><a href="http://github.com/thomaspuppe">github</a></li>
          <li><a href="http://www.thomaspuppe.de">website</a></li>
        </ul>
        #}
      </div>
    </section>
        
    <section>
      {%- block content -%}{%- endblock -%}
    </section>

  </body>
</html>
