html
{
  min-height:100%;
  margin:0;
  padding:0;
  font-size:100%;
  -webkit-text-size-adjust:100%;
  -ms-text-size-adjust:100%;
  overflow-y:scroll;
}

body
{
  margin:0;
  padding:0;
  background-color:#fff;
  color:#4d4d4d;
  font-family:'Proxima Nova','Open Sans',sans-serif;
  font-size:13px;
  line-height:16px;
  -webkit-font-smoothing:subpixel-antialiased;
}

a
{
  color:#000;
  text-decoration:none;
  border-bottom:1px dotted #999;
}

a:link
{
  color:#000;
}

a:hover
{
  color:#0e94ec;
  outline:0;
}

a:active
{
  color:#0e94ec;
  outline:0;
}

a:focus
{
  outline:thin dotted;
}

.clearfix
{
  content:".";
  display:block;
  height:0;
  clear:both;
}

#sidebar
{
  width:258px;
  position:fixed;
  top:0;
  left:0;
  bottom:0;
  right:auto;
  min-height:700px;
  z-index:0;
}

#sidebar figure
{
  margin:40px;
  width:100px;
  height:100px;
}

#sidebar h1
{
  margin:30px 20px 10px 0;
  padding:0 0 0 40px;
  display:block;
  font-family:'Proxima Nova','Open Sans',sans-serif;
  font-weight:900;
  font-size:34px;
  line-height:38px;
}

#sidebar h1 a
{
  border:none;
}

#sidebar h2
{
  margin:0 40px 0 0;
  padding:0 0 0 40px;
  font-size:18px;
  font-weight:300;
  line-height:20px;
}

#sidebar ul
{
  margin:50px 0 0;
  padding:0 0 0 40px;
}

#sidebar li
{
  margin:0;
  padding:10px 0 20px;
  clear:both;
  display:block;
  float:none;
}

#sidebar li a
{
  color:#999;
  font-size:15px;
  line-height:19px;
  border:2px solid #eee;
  border-radius:35px;
  -moz-border-radius:35px;
  -webkit-border-radius:35px;
  padding:7px 15px;
}

footer
{
  margin: 0 0 0 260px;
  padding: 0 0 15px 50px;
  position: relative;
  color:#999;
  font-size:12px;
  font-weight:300;
  line-height:15px;
}

#posts
{
  top:0;
  margin:0 0 0 260px;
  padding:0 0 75px;
  min-height:700px;
  min-width:710px;
  height:100%;
  border-left:#eee 1px solid;
  background-color:rgba(255,255,255,0.9);
  position:relative;
  z-index:1;
}

#posts h1
{
  margin:24px 0 16px;
  color:#000;
  font-size:24px;
  line-height:32px;
}

#posts h2
{
  margin:24px 0 14px;
  color:#000;
  font-size:20px;
  line-height:26px;
}

#posts h3
{
  margin:22px 0 12px;
  color:#000;
}

#posts h4
{
  margin:20px 0 10px;
  color:#000;
}

#posts h5
{
  margin:20px 0 10px;
  color:#000;
}

#posts h6
{
  margin:20px 0 10px;
  color:#000;
}

#posts ul,#posts ol
{
  margin:0 0 0 15px;
  padding:0;
  list-style-position:outside;
}

#posts ul li,#posts ol li
{
  margin:0 0 15px 15px;
  padding:3px 0 3px 5px;
}

#posts ul pre,#posts ol pre
{
  width:517px;
}

#posts p
{
  width:600px;
}

#posts blockquote
{
  margin:0;
  padding:0 0 0 20px;
  display:inline-block;
  border-left:10px solid #0e94ec;
  max-width:500px;
}

#posts blockquote p
{
  width:530px;
}

#posts code
{
  margin:0;
  padding:2px 4px;
  color:#000;
  background-color:#eee;
  font-family:Inconsolata,monospace,serif;
  box-shadow:inset 0 1px 2px rgba(0,0,0,0.3),0 1px 0 rgba(255,255,255,0.6);
  -moz-box-shadow:inset 0 1px 2px rgba(0,0,0,0.3),0 1px 0 rgba(255,255,255,0.6);
  -webkit-box-shadow:inset 0 1px 2px rgba(0,0,0,0.3),0 1px 0 rgba(255,255,255,0.6);
}

#posts pre
{
  margin:0;
  padding:0 0 0 20px;
  display:inline-block;
  border-left:10px solid #0e94ec;
  width:550px;
  color:#000;
  background-color:#eee;
  font-family:Inconsolata,monospace,serif;
  overflow-x:auto;
  box-shadow:inset 0 1px 2px rgba(0,0,0,0.3),0 1px 0 rgba(255,255,255,0.6);
  -moz-box-shadow:inset 0 1px 2px rgba(0,0,0,0.3),0 1px 0 rgba(255,255,255,0.6);
  -webkit-box-shadow:inset 0 1px 2px rgba(0,0,0,0.3),0 1px 0 rgba(255,255,255,0.6);
}

#posts hr
{
  color:#eee;
  background-color:#eee;
  height:1px;
  width:100%;
  border:none;
}

#posts header
{
  margin:0;
  padding:40px 40px 40px 50px;
  border-bottom:#eee 1px solid;
  font-color:#000;
  font-weight:300;
  text-transform:uppercase;
  text-size:15px;
  line-height:33px;
}

#posts header h3
{
  margin:0;
  padding:0;
  color:#000;
}

#posts footer
{
  margin:0;
  padding:0;
  border-top:#eee 1px solid;
}

#posts td.linenos pre
{
  margin:0;
  padding:0 2px;
  width:20px;
  border:none;
  text-align:right;
}

#posts a.button_accent
{
  margin:40px 50px;
  padding:10px 20px;
  display:inline-block;
  border:3px solid #0e94ec;
  border-radius:70px;
  -moz-border-radius:70px;
  -webkit-border-radius:70px;
  text-transform:uppercase;
  color:#0e94ec;
  font-size:17px;
  font-weight:400;
}

#posts a.button_accent:link
{
  color:#0e94ec;
}

#posts a.button_accent:hover
{
  color:#fff;
  background-color:#0e94ec;
  outline:0;
}

#posts a.button_accent:active
{
  color:#fff;
  background-color:#0e94ec;
  outline:0;
}

#posts p.paginator
{
  margin:0;
  padding:0;
  min-height:122px;
  width:100%;
  border-top:#eee 1px solid;
}

#posts article
{
  margin: 0 0 1px 0;
  padding:40px 40px 40px 50px;
  min-width:620px;
  position:relative;
  font-size:15px;
  line-height:25px;
  overflow-x:hidden;
  overflow-y:hidden;
}

#posts article #title {
  margin:12px 0 0;
  padding:0;
  color:#000;
}

#posts article #title a
{
  border:none;
}

#posts article #article_meta
{
  margin:20px 0 0;
  padding:0;
  font-size:13px;
  line-height:16px;
}

#posts #comments
{
  margin:0;
  padding:40px 40px 40px 50px;
  position:relative;
  border-top:#eee 1px solid;
  font-size:15px;
  line-height:25px;
  min-height:600px;
}

#posts #comments h2
{
  color:#000;
}

#posts #disqus_thread
{
  width:600px;
}

#posts dl#tag_list
{
  margin:0;
  padding:40px 40px 40px 50px;
  font-size:14px;
  line-height:18px;
}

#posts dl#tag_list ul
{
  margin:0;
  padding:0;
}

#posts dl#tag_list ul li
{
  margin:0;
  padding:0;
}

#posts dl
{
  margin:0;
  padding:0;
  font-size:15px;
  line-height:25px;
  overflow-x:hidden;
  overflow-y:hidden;
}

#posts dl ol
{
  margin:0;
  padding:0;
  list-style-type:none;
}

#posts dl ol li
{
  margin:0;
  padding:0 0 50px 50px;
  border-bottom:#eee 1px solid;
}

#posts dl ol .title
{
  margin:76px 0 0;
  padding:0;
  color:#000;
}

#posts dl ol .title a
{
  border:none;
}

#posts dl ol .entry-content
{
  width:550px;
}

#posts dl ol abbr
{
  margin:0;
  padding:0;
  text-transform:uppercase;
  font-weight:300px;
  font-size:13px;
  line-height:16px;
  visibility:hidden;
}






.italic {
    font-style: italic;
}

header h2.category,
header h3 {
    display: inline-block;
    padding-right: 30px;
}

/* DAS SCHREIT DOCH NACH SASS */

#posts article.category {
  border-right: 15px #EEE solid;
}

body.list article.category:hover {
    background-color: #eee;
    cursor: pointer;
}

#posts article.category span.category {
    text-transform: uppercase;
}

#posts article a.button_accent {
  margin: 0px 0px;
  padding: 0px 10px;
}

#posts article.category.bundestwitter {
  border-color: #08C;
}

#posts header h2.bundestwitter,
body.list article.category.bundestwitter:hover #title a {
  color: #08C;
}

body.article #posts a.button_accent.bundestwitter,
body.article #posts a.button_accent.bundestwitter:link,
#posts article.category.bundestwitter a.button_accent {
  color: #08C;
  border-color: #08C;
}

body.article a.button_accent.bundestwitter:hover,
body.article #posts a.button_accent.bundestwitter:hover,
body.list article.category.bundestwitter:hover a.button_accent {
  background-color:#08C;
  color: #fff;
}

body.article #posts a.button_accent.projekte,
#posts article.category.projekte {
  border-color: #aa2526;
}

#posts header h2.projekte,
body.list article.category.projekte:hover #title a {
  color: #aa2526;
}

body.article #posts a.button_accent.projekte,
body.article #posts a.button_accent.projekte:link,
#posts article.category.projekte a.button_accent {
  color: #aa2526;
  border-color: #aa2526;
}

body.article a.button_accent.projekte:hover,
body.article #posts a.button_accent.projekte:hover,
body.list article.category.projekte:hover a.button_accent {
  background-color:#aa2526;
  color: #fff;
}

body.article #posts a.button_accent.linktipps,
#posts article.category.linktipps {
    border-color: #0FB000;
}

#posts header h2.linktipps,
body.list article.category.linktipps:hover #title a {
    color: #0FB000;
}

body.article #posts a.button_accent.linktipps,
body.article #posts a.button_accent.linktipps:link,
#posts article.category.linktipps a.button_accent {
    color: #0FB000;
    border-color: #0FB000;
}

body.article a.button_accent.linktipps:hover,
body.article #posts a.button_accent.linktipps:hover,
body.list article.category.linktipps:hover a.button_accent {
    background-color:#0FB000;
    color: #fff;
}

body.article #posts a.button_accent.webentwicklung,
#posts article.category.webentwicklung {
    border-color: #223642;
}

#posts header h2.webentwicklung,
body.list article.category.webentwicklung:hover #title a {
    color: #223642;
}

body.article #posts a.button_accent.webentwicklung,
body.article #posts a.button_accent.webentwicklung:link,
#posts article.category.webentwicklung a.button_accent {
    color: #223642;
    border-color: #223642;
}

body.article a.button_accent.webentwicklung:hover,
body.article #posts a.button_accent.webentwicklung:hover,
body.list article.category.webentwicklung:hover a.button_accent {
    background-color: #223642;
    color: #fff;
}

body.article #posts a.button_accent.datenvisualisierung,
#posts article.category.datenvisualisierung {
    border-color: #8e44ad;
}

#posts header h2.datenvisualisierung,
body.list article.category.datenvisualisierung:hover #title a {
    color: #8e44ad;
}

body.article #posts a.button_accent.datenvisualisierung,
body.article #posts a.button_accent.datenvisualisierung:link,
#posts article.category.datenvisualisierung a.button_accent {
    color: #8e44ad;
    border-color: #8e44ad;
}

body.article a.button_accent.datenvisualisierung:hover,
body.article #posts a.button_accent.datenvisualisierung:hover,
body.list article.category.datenvisualisierung:hover a.button_accent {
    background-color: #8e44ad;
    color: #fff;
}

