*.espressostorage
*.esproj
*.pxm
.DS_Store

.htaccess
config.php
verify.php

templates/clear/
templates/typographic/
templates/cards/
templates/posted/
templates/focus/

posts/cache/*

plugins/switcher.php

cache/*.png
cache/*.jpeg
cache/*.jpg
