/** REMIFY! https://gist.github.com/colinmeinke/6607359 */
@font-face {
  font-family: "League Spartan";
  src: url("assets/webfonts/leaguespartan/leaguespartan-bold.woff2"), url("assets/webfonts/leaguespartan/leaguespartan-bold.woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Sina Nova";
  src: url("assets/webfonts/sinanova/sinanova-regular.woff2"), url("assets/webfonts/sinanova/sinanova-regular.woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "PT Mono";
  src: url("assets/webfonts/ptmono/ptmono-regular.woff");
  font-weight: normal;
  font-style: normal; }
body {
  color: #292929;
  font-family: "Sina Nova", "Georgia", "Palatino", "Palatino Linotype", "OpenSerif", "FreeSerif", serif; }

h1, h2, h3 {
  font-family: "League Spartan", "Helvetica", "OpenSans", "FreeSans", sans-serif;
  font-size: 2.7rem;
  line-height: 4.25rem;
  font-weight: 400;
  margin-top: 1.41667rem;
  margin-bottom: 1.41667rem;
  text-transform: uppercase; }

h2, h3 {
  font-size: 1.7rem;
  line-height: 2.83333rem; }

html, body {
  font-size: 24px; }

.grid {
  background-image: linear-gradient(to bottom, rgba(0, 170, 255, 0.3) 1px, transparent 1px);
  background-position: left -1px;
  background-repeat: repeat;
  background-size: 34px 34px; }
  .grid body {
    box-shadow: 1px 0px 0px rgba(0, 170, 255, 0.3), -1px 0px 0px rgba(0, 170, 255, 0.3); }

body {
  margin: 4.25rem auto;
  padding: 0 1.25rem;
  line-height: 1.41667rem; }

p, ul, ol, pre, table, blockquote {
  margin-top: 1.41667rem;
  margin-bottom: 0; }

header {
  margin: 0 auto;
  max-width: 37.5rem; }
  header a {
    color: #292929; }

.teaser {
  padding: 1.41667rem 0;
  border-bottom: 1px #292929 solid;
  margin: 0 auto;
  max-width: 37.5rem; }
  .teaser__category:after {
    content: " | "; }
  .teaser__title {
    margin-top: 0.70833rem;
    margin-bottom: 0.70833rem; }
  .teaser__text {
    margin-top: 0.70833rem; }
  .teaser__title a {
    color: #292929;
    text-decoration: none; }
    .teaser__title a:hover {
      text-decoration: underline; }

.post {
  padding: 1.41667rem 0; }
  .post__category:after {
    content: " | "; }
  .post > * {
    margin: 1.41667rem auto;
    max-width: 37.5rem; }
  .post h3 {
    margin: 2.125rem auto 0.70833rem; }
  .post figure,
  .post pre {
    margin: 2.83333rem auto;
    max-width: 50rem; }
  .post figure {
    text-align: center;
    font-style: italic;
    padding: 0 1.41667rem; }
    .post figure figcaption {
      margin-top: 1.41667rem; }
  .post pre {
    background: #34495e;
    color: #ecf0f1;
    font-family: "PT Mono", "Lucida Console", "Monaco", monospace;
    font-size: smaller;
    overflow-x: auto;
    padding: 1.41667rem; }
  .post img {
    max-width: 100%; }
  .post a, .post a:link, .post a:visited, .post a:hover, .post a:focus {
    color: #292929;
    text-decoration: none;
    position: relative;
    text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
    background-image: linear-gradient(to top, transparent, transparent 2px, #292929 2px, #292929 3px, transparent 3px); }
  .post a:hover, .post a:focus {
    color: #673AB7;
    background-image: linear-gradient(to top, transparent, transparent 2px, #673AB7 2px, #673AB7 3px, transparent 3px); }

/*# sourceMappingURL=styles.css.map */
