$font-face-sans-serif: Helvetica,OpenSans,FreeSans,sans-serif;
$font-face-serif: Georgia,Palatino,Palatino Linotype,OpenSerif,FreeSerif,serif;

$font-base-color: #222;
$font-highlight-color: #900;

$breakpoint-medium: 800px;
$breakpoint-large: 1600px;