$font-face-sans-serif: Helvetica,OpenSans,FreeSans,sans-serif
$font-face-serif: Georgia,Palatino,Palatino Linotype,OpenSerif,FreeSerif,serif

body
	color: #292929
	font:  1.125em/160% $font-face-serif
	padding: 0
	padding: 0 10px

h1, h2, h3
	line-height: 120%

section 
	margin: 40px auto
	max-width: 800px