<article class="ENTRY-HTML">
    <header>
        <time datetime="{{ entry.date.strftime("%Y-%m-%d") }}">{{ entry.date.strftime("%d.%m.%Y") }}</time>
        <h1>
            <a href="{{ env.path + entry.permalink }}" rel="bookmark canonical">{{ entry.title }}</a>
        </h1>
    </header>
    {{ entry.content }}
    <footer>
        {% if 'tag' in env.views and entry.tags %}
            <p>tagged as
                {% for link in entry.tags | tagify -%}
                    <a href="{{ env.path + link.href }}" rel="tag">{{ link.title }}</a>
                    {%- if loop.revindex > 2 -%}
                    ,
                    {%- elif loop.revindex == 2 %}
                    and
                    {% endif %}
                {% endfor %}
            </p>
        {% endif %}
    </footer>
</article>
